/* Geeks teachers slider styles */ 
.slider-container { 
    margin:0 auto; 
    overflow:hidden; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    gap:20px; 
  } 
  .slider { 
    display:flex; 
    transition:transform 0.5s ease-in-out; 
    gap: 10px;
  } 
  .slider img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
  } 
  .prev-button,.next-button { 
    width:90px; 
    height:40px; 
    background-color:black; 
    border:none; 
    font-size:24px; 
    color:rgb(221,218,20); 
  } 
  .geeks-main-section-six { 
    background-color:white; 
    padding:100px 30px; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    gap:30px; 
  }
  /* Geeks teachers slider styles */