*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: Reforma Grotesk Demi;
    src: url('/fonts/ReformaGroteskDemi.woff');
}
.conteiner{
    width: 1440px;
    margin: 0 auto;
    /* justify-content: center; */
    text-align: center;
}
.heder_block{
    background-color:#FCE900;
    width: 0 auto;
    /* height: 800px; */
    padding-top: 80px;
    
}
.geeks_logo{
    width: 15%;
    height: 20%;


}
.navbar{
    /* width: 0 auto; */
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around;
   
    position:fixed;
    backdrop-filter: blur(7px) ;
    border-bottom: 1px solid black;
    padding-top: 13px;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 1.2em;
    font-size: 1em;
    font-weight: 400;
    padding-top: 1%;
}
.call{
    display: flex;
    gap: 2%;
}
.call div{
    width: 240px;
    height: 50px;
    margin-top: 10px;
}
.call img {
    width: 30%;
    height: 85%;
}
.h_text{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 1.5em;
}
/* .h_text_img1{
    width: 30%;
    height: 30%;
}
.h_text_img2{
    width: 25%;
    height: 30%;
    margin-top: 2%;
} */
.h_text_1{
    color: #FCE900;
    background-color: black;
    transform: rotate(-3deg);
    color: var(--ui-yellow, #FCE900);
text-align: center;
/* reforma/header_102 */
font-family: Reforma Grotesk Demi;
font-size: 102px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 8.16px;
}
.h_text_2{
    background-color: transparent;
    color: black;
}
.heder_h3{
    text-align: center;
    font-size: 1em;
    transform: rotate(-3deg);
    margin-left: 5%;
}
.memoji_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  

}
.memoji_btn img{
    width:40%;
   
}
.memoji_btn button{
    width: 90%;
    height: 40px;
    background-color: black;
    color: #FCE900;
    font-size: 1em;
    margin-left: 5%;
    border: none;
    margin-top: -3%;
}

.geeks_founders{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    gap: 1em;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    gap: 30px;
    align-items: center;
   
}
.geeks_founders h2{
    color: #FCE900;
    background-color: black;
    width: 80px;
    /* margin-left: 45%; */
    transform: rotate(-3deg);
}
.geeks_founders img{
    width: 95%;
}
.geeks_founders p{
    font-size: 1.4em;
}
.geeks_in_number img{
  width: 100%;
  margin-top: 10%;
}
.geeks_in_number_adaptiv{
    display: none;
}
.why_geeks{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why_geeks h1{
    color: #FCE900;
    background-color: black;
    width: 400px;
    height: 60px;
    text-align: center;
    transform: rotate(-3deg);
}
.why_geeks_mindows{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    text-align: center;
    justify-content: center;
    /* width: 1200px; */
}
.why_geeks_mindows img{
  width: 30%;
}



/* ученики гикс  css*/

.students_geeks{

    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students_geeks h2{
    color: #FCE900;
    background-color: black;
    width: 220px;
    height: 50px;
    text-align: center;
    transform: rotate(-3deg);
}

.students_videos{
    display: flex;
    gap: 10px;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
}
.students_videos img{
    width: 30%;
    justify-content: space-around;
}


/* где работают выпускники гикс */

.students_copmany{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.students_copmany h2{
    color: #FCE900;
    background-color: black;
    width: 400px;
    height: 50px;
    text-align: center;
    transform: rotate(-3deg); 
}
.compani_logo{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.compani_logo img{
    width: 17%;
    margin-top: 30px;

}

/* курсы гикс */
.geeks_course{
    background-color: #FCE900;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 2em;
  
}
.geeks_cours_text {
    color: #FCE900;
    background-color: black;
    width: 150px;
    height: 0 auto;
    text-align: center;
  
    transform: rotate(-3deg); 
    margin-top: 3%;
    font-size: 1.5em;
}

.block_course{
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   
   
}
.course{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 27%;
    height: 450px;
    color: white;
    margin: 0.5em;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3%;
}
.cours_button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Onest;
    width: 230px;
    height: 70px;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: 700;        
}
